.bodyheader{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    position: relative;
}

.img-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.logotipo{
    width: 20%;
}

.slogan{
    font-family: 'Nunito', sans-serif;
    font-size: 3.0rem;
    font-weight: bold;
    color: #4E4E4E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    line-height: 1.1;
    letter-spacing: 1px;
}

span{
    color: #FF5C00;
}

.socialNetworks{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.button{
    font-family: Nunito;
    font-size: 1.1rem;
    background-color: #FF5C00;
    border: #FF5C00 3px solid;
    border-radius: 4rem;
    padding: 0px 25px;
    margin-right: 1.5rem;
    height: 50px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.button:hover{
    background-color:transparent;
    color: #FF5C00;
    font-weight: bold;
}

.socialNetworks aside{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.socialApp{
    width: 40px;
}

.info{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
    margin-left: 5%;
    gap: 7vh;
}

.cont-head{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
    padding: 0px 5%;
}

@media (max-width: 700px){
    .bodyheader{
        justify-content:space-around;
        align-items: center;
        border: 1px solid red;
    }

    .socialNetworks{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    


}