
.cont-useradvice {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}


.cont-advice {
    background: #f8772f;
    border-radius: 80px;
    width: 1041px;
    height: 468px;
    z-index: 1;
    border:none;
    color: #ffffff;
    font-size: 2.5rem;
}

.ms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 8%;
    height: 100%;
    
}


.btn-terminar {
    background: #ffffff;
    border-radius: 65px;
    border-style: solid;
    border-color: #f8772f;
    border-width: 6px;
    width: 318px;
    height: 89px;
    font-size: 2rem;
    color: #f8772f;
   
    
    
}

.ms-finaladvice {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    
    
    
}

.ms1 {
    font-size: 2.5rem;
    color: rgb(102, 100, 100);
    
}

.ms2 {
    color: #f8772f;
    font-size: 2.5rem;
}