.button{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #FF5C00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 4rem;
    background: none;
    border: #FF5C00 0.5rem solid;
    border-radius: 4rem;
    padding: 1.2rem;
    margin-right: 1.5rem;
    text-decoration: none;
}