.cont-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 90px;
}

.carrusel-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior:smooth;  
}

.cont-title-carrusel{
    width: 80%;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: #4E4E4E;
    margin-bottom: 30px;
}



.carrusel-wrapper {
    position: relative;
    display: flex;
}

.categoria {
    border-radius: 8px;
}


.imagen-carrusel {
    border-radius: 30px;
    width: 350px;
    height: 200px;
    margin-right: 40px;
    object-fit: cover;
    cursor: pointer;
}


.continentes h4 {
    bottom: 20px;
    padding: 0 20px;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.continentes span{
    padding: 4px 16px;
    border-radius: 50px;
    width: 100%;
    backdrop-filter:blur(10px);
    background-color: rgba(0, 0, 0, 0.518);
    color:white;
}

.btns {
    position: absolute;
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
}
.arrowButton1,
.arrowButton2 {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.arrowButton1 img{
    transform: rotate(180deg);
    width:20px;
}

.arrowButton2 img{
    width:20px;
}

.arrowButton1:hover,
.arrowButton2:hover {
  transform: scale(1.1);
}

