
.cont-recipes{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sub-title{
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #4E4E4E;
}

.card-recipe{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

