
.cont-recipes{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sub-title{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4E4E4E;
}

.card-recipe{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.recipe-count{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.cont-info-results{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 7px;
}

.cont-info-results p{
    font-size: 1.0rem;
    color: #4E4E4E;
    letter-spacing: 1px;
    font-weight: bold;
}

.cont-info-results img{
    width: 17px;
}