
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 10%;
    gap: 5%;
}
.searchBar{
    border: #E8E8E8 solid 5px;
    border-radius: 1rem;
    width: 80%;
    height: 100%;
}


