.section-div {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.section-div a img {
    position: absolute;
    z-index: 30;
    right: 64px;
    top: 64px;
    transition: .3s all ease;
}

.section-div a img:hover {
    scale: 1.2;
    transform: rotate(-360deg);
}

.background-image {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 100vh;
    background: #558332;
    border-top-right-radius: 80px;
}

.cont-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.small-green-div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 50vh;
    background-color: #558332;
}

.iniciar-sesion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 70%;
    height: 100%;
    background-color: #fff;
    border-bottom-left-radius: 80px;
}

.onclick-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 50%;
    height: 40px;
    font-weight: 700;
    border: 3px solid #558332;
    background-color: #558332;
    border-radius: 32px;
    margin: 32px 0;
}

.iniciar-sesion-btn-on {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    user-select: none;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 50%;
    padding: 0 8px;
    white-space: nowrap;
    transition: transform 0.5s ease;
}

.iniciar-sesion-btn-on:hover {
    animation: shakeAnimation 0.5s ease-in-out;
}

.iniciar-sesion-btn-of {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #558332;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 50%;
    padding: 0 8px;
    white-space: nowrap;
}

.crear-cuenta-btn-on {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    user-select: none;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 50%;
    padding: 0 8px;
    white-space: nowrap;
    transition: transform 0.5s ease;
}

.crear-cuenta-btn-of {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #558332;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 50%;
    padding: 0 8px;
    white-space: nowrap;
}

.crear-cuenta-btn-on:hover {
    animation: shakeAnimation 0.5s ease-in-out;
}

.logo-login {
    width: 30%;
}

.image-div {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes shakeAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }