.backgroundFooter{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    width: 100%;
    height:300px;
    background-image: url('../../assets/img/patron.svg');
    background-color: #E8E8E8;
}


.fila-footer{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fila-footer aside{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}


.logotipoFooter{
    width: 16%;
    max-width: 200px;
}

.socialAppFooter{
    width: 20%; 
}

.infoLocal{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #4E4E4E;
    letter-spacing: 1px;
    border-bottom:2px solid #4E4E4E;
    
}

