.cont-header-login{
    width: 85%;
    height: 140px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
}

.cont-logo-header{
    width: 20%;
}

.logo-header{
    width: 100%;
    max-width: 170px;
    min-width: 140px;
}
