.cont-header{
    width: 85%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header{
    width: 14%;
    max-width: 160px;
}

.user-content{
    background-color: rgb(197, 197, 197);
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.img-user {

    width: 60px;
    height: 60px;
    margin-right: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-content p{
    color: #3C3C3C;
}
