.recipe-form {
    width: 65%;
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    gap: 45px;
}

.recipe-container {
    width: 100%;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe-categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recipe-categories label {
    width: 15%;
    min-width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #AEAEAE;
    background: #fff;
    border: 3px solid #AEAEAE;
    border-radius: 25px;
    user-select: none;
    margin-bottom: 32px;
    transition: .3s all ease;
    letter-spacing: 2px;
    cursor: pointer;
}

.recipe-categories input[type="radio"] {
    display: none;
}

.recipe-categories input[type="radio"]:checked+.entrantes {
    border: 3px solid #558332;
    background: #558332;
    color: #fff;
}

.entrantes:hover {
    border: 3px solid #558332;
    color: #558332;
    scale: 1.2;
}

.recipe-categories input[type="radio"]:checked+.platos {
    border: 3px solid #F6722B;
    background: #F6722B;
    color: #fff;
}

.platos:hover {
    border: 3px solid #F6722B;
    color: #F6722B;
    scale: 1.2;
}

.recipe-categories input[type="radio"]:checked+.postres {
    border: 3px solid #F1C731;
    background: #F1C731;
    color: #fff;
}

.postres:hover {
    border: 3px solid #F1C731;
    color: #F1C731;
    scale: 1.2;
}

.recipe-categories input[type="radio"]:checked+.bebidas {
    border: 3px solid #42CAFF;
    background: #42CAFF;
    color: #fff;
}

.bebidas:hover {
    border: 3px solid #42CAFF;
    color: #42CAFF;
    scale: 1.2;
}

.recipe-photo-name-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.title-form {
    font-weight: 500;
    font-size: 1.5rem;
    color: #F6722B;
}

.cont-recipe-info {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cont-recipe-photo {
    width: 40%;
    height: 100%;
    cursor: pointer;
}

.recipe-name-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.recipe-photo {
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.recipe-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.cont-recipe-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.recipe-name-container input {
    height: 20%;
    width: 100%;
    font-size: 1.0rem;
    color: #F6722B;
    background: #fff;
    border: 3px solid #AEAEAE;
    border-radius: 32px;
    padding: 0 16px;
    outline: none;
}

.recipe-name-container textarea {
    resize: none;
    width: 100%;
    height: 80%;
    padding: 16px;
    font-size: 1.0rem;
    border-radius: 32px;
    color: #F6722B;
    background: #fff;
    border: 3px solid #AEAEAE;
    outline: none;
}

.recipe-name-container textarea:focus,
.recipe-name-container input:focus,
.textarea-container textarea:focus {
    border: 3px solid #F6722B;
    outline: none;
}

.ingredients-container {
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.recipe-steps {
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-preparation-steps{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap:30px;
}

.textarea-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textarea-container textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 32px;
    color: #F6722B;
    border: 3px solid #AEAEAE;
    outline: none;
}

.container-difficulty-portion-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.cont-details-recipe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.set-difficulty,
.set-portion,
.set-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 170px;
    padding-top: 25px;
    gap:10px;
    border: 3px solid #AEAEAE;
    border-radius: 32px;
    position: relative;
    font-weight: bold;
    user-select: none;
}

.set-difficulty label,
.set-portion label,
.set-time label {
    font-weight: bold;
    font-size: 3rem;
}

.set-difficulty input,
.set-portion input{
    outline: none;
    border: none;
    color: #F6722B;
    font-weight: bold;
    font-size: 3rem;
    background: transparent;
    margin-right: -50px;
}

.set-time input{
    outline: none;
    border: none;
    color: #F6722B;
    font-weight: bold;
    font-size: 3rem;
    background: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display:none;
}

.set-difficulty:hover,
.set-portion:hover,
.set-time:hover {
    border: 3px solid #F6722B;
    outline: none;
    transition: .3s all ease;
}

.p-set-style{
    color:#F6722B;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size:0.9rem;
}

.plus-minus-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    bottom: -20px;
    background-color: #F6722B;
    border-radius: 32px;
    transition: 0.3s all ease;
    cursor: pointer;
    user-select: none;
}

.plus-minus-btn span {
    padding: 0 16%;
    color: #fff;
    font-size: 32px;
}

.plus-minus-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 2px;
    background-color: #fff;
}

.set-difficulty:hover .plus-minus-btn,
.set-portion:hover .plus-minus-btn,
.set-time:hover .plus-minus-btn {
    scale: 1.060;
}

.create-recipe-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px;
    padding: 8px 20px;
    border-radius: 32px;
    border: 3px solid #F6722B;
    background-color: #fff;
    color: #F6722B;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s all ease;
    cursor: pointer;
}

.create-recipe-submit-btn:hover {
    background-color: #F6722B;
    color: #ffffff;
    border: 3px solid #F6722B;
    transition: 0.3s all ease;
}